.browsingbanner{
    height :70px;
    width :100%;
    margin-top : 4rem;
    font-size: 2rem;
    font-family: "Protest Guerrilla", sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 1rem;
    border-radius: 20px;
    color:#ff0066;
}
.browsingcover{
    border-radius: 20px;
    background-color: rgba(14, 3, 38, 0.943);
}

.browsingcontainer {
    width : 100%;
    margin-top : 1.5rem;
    display: grid;
    gap: 4rem; 
    box-sizing: border-box; 
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr)); 
    padding: 11px;
    height : auto; 
    padding-right: 3.1rem;
    padding-bottom :  1.5rem;
}
@media (max-width :480px ) {
    .browsingbanner{
        height :40px;
        font-size:1.2rem;
      
          display: flex;
   justify-content: center;
   align-items: center;
  }
  .browsingcontainer {
    gap: 1rem; 
    padding-left : 1.1rem;
    margin-top : 2.5rem;
         place-items: center;

  } 
  }

    
  @media (max-width :768px ) {
    .browsingcontainer {
        gap: 2.5rem; 
    padding-left : 0.5rem;
}
}