.electronicscontainer {
    width : 100%;
    margin-top : 70px;
    display: grid;
    gap: 4rem; 
    box-sizing: border-box; 
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr)); 
    padding: 2rem;
    padding-left : 2rem;
    height : auto; 
    padding-right: 3rem;
}

@media (max-width :480px ) {
    .electronicscontainer {
          gap: 1rem; 
          padding-left : 1.1rem;
          margin-top : 2.5rem;
               place-items: center;
      }
    
    }

    @media (max-width :768px ) {
        .electronicscontainer {
            gap: 2.5rem; 
        padding-left : 0.5rem;
    }
    }





    

.paginationControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
}

.btn {
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.btn:disabled {
  background: gray;
  cursor: not-allowed;
}

.pageNumber {
  font-weight: 600;
}
