.container {
width: 500px;
height: 400px;
   position: absolute;
    top: 50%;
    left: 50%;
  border-radius: 10px;
  border: 2px solid rgb(174, 108, 255) ;
   display:flex;
  flex-direction: column;
   align-items: center;
      transform: translate(-50%, -50%);
  box-shadow: inset 0 0 10px rgb(174, 108, 255) , inset 0 0 10px rgb(174, 108, 255) ;
}

.container h1{

margin-top: 1rem;
  font-size: 2rem;
  margin-bottom: 0.5rem;
 color:transparent;
  cursor: pointer;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 7%, rgba(254,2,104,1) 59%);
background-clip:text;
-webkit-background-clip:text; 

}
.container h5{
  color:aliceblue;
  margin-bottom: 1.5rem;
  

}
.lock{
  margin-top: 1.5rem;
height: 100px;
width: 100px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.lockicon{
height: 80px;
width: 80px;

  color:rgb(255, 255, 255);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-field {
  padding: 10px;
  width: 400px;
background-color: rgb(238, 224, 255);;
  border-radius: 6px;
  border: 2px solid rgb(0, 0, 0);
  font-size: 16px;
  color:rgb(0, 0, 0);
}
.input-field:focus {
outline: none;
}
.input-field::placeholder{
 color:rgb(0, 0, 0);
}

.submit-button {
  background-color: rgba(254,2,104,1);
  color: rgb(255, 255, 255);
  border: none;
  width: 400px;
  font-weight: 600;
margin-top: 0.3rem;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.message{
  height: 30px;
  width:80%;
  margin-top: auto;
  margin-bottom: 1.5rem;
  color:rgba(254,2,104,1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button:hover {
  background-color: rgba(254, 2, 103, 0.751);
}
.darkback{
   height :100vh;
    width :310vw;
    background-color:black ;
}