.darkback{
   height :100vh;
    width :310vw;
    background-color:black ;
}
.logindetail{
    height :415px;
    width :310px;
    background-color:rgba(255, 255, 255, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    padding-top: 1.5rem;
    box-shadow: 0 0 10px rgb(174, 108, 255),0 0 10px black,0 0 20px black,0 0 20px black;
}
.log{
    font-size: 1.7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color:transparent;
    cursor: pointer;
    background-image: linear-gradient(90deg, rgb(174, 108, 255) 3%, rgba(254,2,104,1) 59%);
  background-clip:text;
  margin-bottom: 1rem;
  -webkit-background-clip:text;
}
.logindetail input{
   border-radius: 5px;
    border: 1px solid  rgb(199, 153, 254);
    outline: none;
    padding-left: 0.5rem;
    background-color: rgba(255, 255, 255, 0);
    height :35px;
    width:80%;
    margin-top :0.9rem ;
    color:rgb(232, 232, 232);
}
.logindetail input::placeholder {
    color:rgb(232, 232, 232);
    
}
.button{
    background: linear-gradient(90deg, rgba(254,2,104,1) 23%,rgba(254,2,104,1)  49%);
    color:rgb(255, 255, 255);
    font-family: "Russo One", sans-serif;
    font-size:medium;
    margin-top :1.5rem ;
    border-radius: 10px;
    height :27px;
    width :80%;
        border: none;

   display: flex;
   justify-content: center;
   align-items: center;
    cursor: pointer;
    box-shadow: 0 0 5px black;
    transition: all 0.4s;
}
.button:hover{
    transform: scale(0.95);
}
.signin{
   font-weight: bold;
   margin-top: 1rem;
cursor: pointer;
font-size: small;
color:rgba(254,2,104,1);
}
.signin span{
color:white;
}
.forget{
    color:rgb(255, 255, 255); 
    font-family: 'Courier New', Courier, monospace; 
    font-size: small;
    margin-left :3.2rem;
    margin-top : 1.3rem;
    
}
.welcome{
  height:200px;
  width:200px;
  border-radius: 50%;
   position: absolute;
  padding-top: 4.7rem;
  padding-left:1.0rem ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  color:transparent;
  cursor: pointer;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 7%, rgba(254,2,104,1) 59%);
background-clip:text;
-webkit-background-clip:text; 
box-shadow: inset 0px 0px 15px rgba(254,2,104,1),inset 0px 0px 15px rgb(255, 246, 249);

}
.warning{
  margin-left: 3.2rem;
  margin-top: 0.4rem;
  color:rgba(254,2,104,1);
}
.logout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: rgb(227, 204, 255);
  cursor: pointer;
  margin-top: 1.1rem; 
  margin-left: 3.1rem;
  text-decoration: underline;
}
.loginname{
  margin-left: 3.3rem;
  margin-top: 1.5rem; 
 
font-size: 1.2rem;
display: inline-block;
  box-shadow: inset 0px 0px 5px rgba(254,2,104,1),inset 0px 0px 5px rgb(255, 255, 255),inset 0px 0px 5px rgba(254,2,104,1);
padding-left: 0.9rem;
padding-right: 0.9rem;
padding-top: 0.5rem;
padding-bottom: 0.6rem;
border-radius: 20px;
color:rgb(255, 200, 222);
cursor: pointer;
background-image: linear-gradient(90deg, rgb(255, 255, 255) 7%, rgba(254,2,104,1) 59%);
background-clip:text;
-webkit-background-clip:text; 

}

.loginenter{
  height :365px;
  width :310px;
  background-color:rgb(19, 0, 42);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(254,2,104,1),0 0 10px rgba(254,2,104,1),0 0 20px black;
}
.google{
   height :30px;
  width :80%;
  border-radius: 10px;
  margin-top: 1.5rem;
   display: flex;
   align-items: center;
  color: rgb(0, 0, 0);
  cursor: pointer;
  overflow: hidden;
}
.gooletext{
     font-size: small;
  
}
.googleicon{
  transform:scale(1.2)
}

.link{
    text-decoration: none;

}
.formbox{
    display:flex;
     width :310px;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}

.message{
  height: 30px;
  width:80%;
  margin-top: auto;
  margin-bottom: .5rem;
  color:rgba(254,2,104,1);
  display: flex;
  justify-content: center;
  align-items: center;
}











