.specialcontainer {
    width : 100%;
    margin-top : 70px;
    display: grid;
    gap: 4rem; 
    box-sizing: border-box; 
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr)); 
    padding: 2rem;
    padding-left : 2rem;
    height : auto; 
    overflow-y: auto; 
    overflow-x: hidden; 
    max-width : 1303px;
}

@media (max-width :480px ) {
  .specialcontainer {
        gap: 1rem; 
        padding-left : 1.1rem;
        margin-top : 2.5rem;
    }
  
  }

  @media (max-width :768px ) {
    .specialcontainer {
        gap: 2.5rem; 
    padding-left : 0.5rem;
}
}


    

.paginationControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
}

.btn {
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.btn:disabled {
  background: gray;
  cursor: not-allowed;
}

.pageNumber {
  font-weight: 600;
}
