.profilestart{
    height:200px;
    width:200px;
    border-radius: 50%;
      box-shadow: inset 0px 0px 15px rgba(254,2,104,1),inset 0px 0px 15px rgba(254,2,104,1);
    margin-top: 2rem;
display: flex;
 color:transparent;
    cursor: pointer;
     font-size: 1.3rem;
    background-image: linear-gradient(90deg, rgb(255, 255, 255) 7%, rgba(254,2,104,1) 59%);
  background-clip:text;
  -webkit-background-clip:text; 
flex-direction: column;
align-items: center;
justify-content: center;
}
.warning{
    margin-left: 3.2rem;
    margin-top: 0.4rem;
    color:rgba(254,2,104,1);
}

 .loggingout{
   margin-top: 1rem; 
   text-decoration: underline;
   font-size: 1rem;
   margin-left: auto;
   margin-right: 1rem;
 color: rgb(227, 204, 255);
 }
.profilename{
  border-radius: 20px;
height: auto;
width: auto;
  display: flex;
  padding-left: 0.9rem;
padding-right: 0.9rem;
padding-top: 0.5rem;
padding-bottom: 0.6rem;
    align-items: center;
    justify-content: center;
  color:rgb(255, 255, 255);
  cursor: pointer;
   margin-top: 1.5rem;
   font-size: 1.2rem;
    box-shadow: inset 0px 0px 5px rgba(254,2,104,1),inset 0px 0px 5px rgb(255, 255, 255),inset 0px 0px 5px rgba(254,2,104,1);

 }
.profilebox{
height :365px;
    width :280px;
    border:1px soild rgba(254,2,104,1);
       box-shadow: 0 0 10px rgba(254,2,104,1),0 0 10px rgba(254,2,104,1),0 0 20px black;
border-radius: 8px;
display: flex;
flex-direction: column;
align-items: center;
}

.darkback{
   height :100vh;
    width :100vw;
    background-color:black ;
    display: flex;
    align-items: center;
    justify-content: center;
}

